/* Basis-Formatierung ohne direkten Einfluss auf die Zeilennummern */
.md-grid {
  max-width: 1200px; 
}

.md-typeset .admonition-title,
.md-typeset .admonition {
  font-size: 0.8rem;
}

/* Zielt auf <code> innerhalb von Text-Containern ab */
.md-typeset p code,
.md-typeset li code,
.md-typeset td code {
  font-weight: normal; 
  font-size: 0.9rem; /* Macht den Text etwas größer im Vergleich zum umgebenden Text */
}

/* Setzt eine Standard-Schriftgröße für Code-Bereiche und Zeilennummern */
.highlight, /* Zielt auf den Container des Highlight-Elements ab */
.highlight .highlighttable, /* Zielt auf die Tabelle im Highlight-Container ab */
code { /* Zielt auf Code-Elemente ab */
  font-size: 0.85rem;
  font-weight: bold;
}

/* Anpassungen für Tabellenkopf und -körper, um die Konsistenz der Schriftgrößen zu gewährleisten */
.md-typeset thead th,
.md-typeset tbody tr td {
  font-size: 0.8rem;
}

/* Spezifische Selektoren für Code- und Zeilennummern, um einheitliche Stile sicherzustellen */
.highlight .linenos, /* Zielt spezifisch auf Zeilennummern in Code-Blöcken ab */
.highlight code { /* Zielt auf Code innerhalb von Highlight-Blöcken ab */
  font-size: 0.85rem; /* Stellt sicher, dass sowohl Zeilennummern als auch Code die gleiche Schriftgröße haben */
  font-weight: bold; /* Optional: Setzt das Schriftgewicht auf normal für Zeilennummern, falls gewünscht */
}

/*
Die nachfolgenden CSS-Regeln für .read und .unread sind auskommentiert,
da sie für eine lokale JS-Datei relevant sind, die hier nicht betrachtet wird.

.read {
  background-color: green;
  color: white;
}

.unread {
  background-color: yellow;
  color: black;
}
*/
